@charset "UTF-8";
@media screen {
  body {
    background-color: rgb(169, 151, 180);
  }
  .card {
    max-width: 400px;
    margin-left: 33%;
    background-color: rgb(186, 191, 192);
  }
  .card .pic img {
    height: 300px;
    max-width: 400px;
  }
  .card .étiquette {
    background-color: blueviolet;
    text-align: center;
    width: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    transform: translateY(-35px);
  }
  .card .content {
    max-width: 400px;
  }
  .card .content h1 {
    margin-left: 20px;
  }
  .card .content h2 {
    margin-left: 20px;
  }
  .card .content .txt {
    display: none;
  }
}